body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #6d6d6d;
    overflow-x: hidden;
}

a {
    color: #f9398c;
    text-decoration: none
}

a:hover,
a:focus {
    color: #f9398c;
    text-decoration: underline
}

a:focus,
.btn:focus {
    outline: none;
}

.big-text {
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em;
    text-transform: uppercase;
}


.btn-color1,
.btn-color2 {
    padding: 10px 30px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    background: #f9398c;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}


#contact {
    background-color: whitesmoke;
}

#contact-form .form-group label {
    display: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
    display: block;
}

#contact-form .controls {
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

#contact-form .form-control {
    background: transparent !important;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 56px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    padding-left: 64px;
    -webkit-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
    border-radius: 2px;
}

#contact-form .form-group {
    position: relative;
}

#contact-form .form-group [class*=fa] {
    display: block;
    width: 64px;
    position: absolute;
    top: 0;
    left: 5px;
    color: #e5e5e5;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    font-weight: 300;
}

#contact-form.no-placeholder .form-group [class*=fa] {
    top: 30px;
}

#contact-form .form-control:focus+[class*=fa] {
    opacity: .5;
}

#contact-form textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 21px;
    line-height: 32px;
    padding-top: 10px;
}

#contact-form .form-control:focus {
    background: #fff;
    border-bottom: 3px solid #f9398c;
}

#contact {
    padding: 15vh 15vw;
    margin: 10vh 10vw;
}

.controls i {
    color: #f9398c !important
}