body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

body {
    color: #000;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    padding: 0.02em 0px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.tag {
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    text-align: center;
}

.card .tag {
    background-color: #b117bf;
}

a {
    background-color: transparent;
}

.blogs {
    float: left;
    width: 66.66666%;
}

.archives {
    float: left;
    width: 33.33333%;
}

main {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.card {
    border-radius: 2%;
    padding: 5%;
    box-shadow: 0 4px 10px 0 rgba(90, 8, 78, 0.2), 0 4px 20px 0 rgb(255, 0, 144);
    background-color: white;
    color: #000;
    margin: 16px;
}

.content-container {
    padding: 0.01em 16px;
}

.card-date {
    opacity: 0.6;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row::before {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 100%;
}

.col.m8 {
    width: 66%;
}

.col.m4 {
    width: 33%;
}

.button {
    border: none;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    font: inherit;
}

.button:hover {
    color: #fff;
    background-color: #b117bf;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
    height: 0;
    overflow: visible;
    border: 0;
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

img {
    vertical-align: middle;
}

a {
    color: inherit;
}

.tags>.active {
    padding: 8px;
}

.badge {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 4px 2px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}

.column {
    width: 100%;
    display: block;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card-author {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-author {
    padding: 0 16px;
    text-align: center;
}

.container-author::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container-author>.title {
    padding: 2%;
    margin: 0;
    color: grey;
}

.button-author {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button-author:hover {
    background-color: #555;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.popular-post-list>li {
    margin: 8px 0;
    color: #fff;
    background-color: #000;
}


#main-footer {
    margin-top: 2%;
    padding: 2%;
    background: #fff;
}

#main-footer p a {
    padding-bottom: 40px;
    font-size: 25px;
    text-decoration: none;
}

#main-footer p {
    text-align: center;
}

#social-icons {
    margin: auto;
    text-align: center;
}

.social-icon {
    margin: 0 10px;
    font-size: 35px !important;
    color: #000;
}

.social-icon:hover {
    color: #b117bf;
    cursor: pointer
}

.error-page {
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
}

.error-page .error-inner {
    display: inline-block;
}

.big-text {
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em;
    text-transform: uppercase;
}

/* CSS */
.modal,
.modalsesion {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button-sesion {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-button-sesion:hover,
.close-button-sesion:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CSS */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#register-form {
    display: flex;
    margin: 5% 15%;
    flex-direction: column;
    gap: 10px;
}

#register-form-sesion {
    display: flex;
    margin: 5% 15%;
    flex-direction: column;
    gap: 10px;
}

#register-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#register-form-sesion label {
    font-weight: bold;
    margin-bottom: 5px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#register-form-sesion input[type="text"],
#register-form-sesion input[type="email"],
#register-form-sesion input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#register-form input[type="submit"] {
    background-color: #b118bf;
    color: white;
    margin: 0 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#register-form-sesion input[type="submit"] {
    background-color: #b118bf;
    color: white;
    margin: 0 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


#register-form input[type="submit"]:hover {
    background-color: #b118bf;
}

#register-form-sesion input[type="submit"]:hover {
    background-color: #b118bf;
}

/* CSS */
.modal-content h3 {
    font-family: 'Raleway', sans-serif;
    color: #b118bf;
    text-align: center;
    margin-bottom: 20px;
}


/* CSS */
#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b118bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    height: 25px;
    width: 61px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    /* Reducir el tamaño de la fuente */
}

#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#chat-header {
    padding: 10px;
    background-color: #b118bf;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* Alinear el botón de cerrar a la derecha */
}

#chat-messages {
    height: 60%;
    overflow-y: scroll;
    padding: 10px;
}

#chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#chat-send {
    background-color: #b118bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.message,
.message2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-time {
    color: #aaa;
    font-size: 0.8em;
    margin-left: 10px;
}

.message-time2 {
    color: #aaa;
    font-size: 0.8em;
    margin-left: auto;
    width: 30%;
    /* Alinear a la derecha */
}

.comment-button {
    cursor: pointer;
}



.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #4df0bb;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}

.comment-box .comment-head {
    background: #4df0bb;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.new-comment {
    width: 100%;
    height: 200px;
}

.new-comment-form button {
    float: right;
    color: white;
    background: #b118bf;
    padding: .7em;
}