.navbar-container {
    margin: auto;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.navbar {
    list-style-type: none;
    padding: 0 10%;
    margin: 0;
    overflow: hidden;
    background-color: #7973d2;
}

.brand {
    color: black;
    margin-right: 30%;
    font-size: 50px;
}

.navbar>li:first-child {
    margin-right: 5%;
}

.navbar>li {
    float: left;
    margin-right: 2%;
}

.navbar>li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active,
.navbar>li a:hover {
    background-color: #b117bf;
}